<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; padding-left: 30%;padding-right: 20%;" >
  
<div style="padding-right: 60%;">
  <h2>
    <p style="text-align:center;"> View Account Summary</p>
  </h2>
  
  <div style="text-align:center;">
  
    <label for="account">I Want To See My:</label>
  
  <select id="account">
    <option value="Bank Account">Bank Account</option>
  </select>
  
  <button type="button">Go</button>
  
  </div>
  
</div>
<hr>
<br>
<br>


<div style="text-align:center;background-color:grey; height:30px ;">
  
  <label for="account" style="padding-right: 80%;">Total By Branch:</label>
</div>

<br>
<br>


<div id='parent_div_1' style="padding-right: 40%;     height: 36px;">
   <label class="child_div_1"> Total Sum </label>
</div>
<div id='parent_div_2' style="padding-right: 26%;     height: 36px;">
   <label class="child_div_2"> Total Credit</label>
</div>

<div id='parent_div_3' style="padding-right: 40%;">
  <label class="child_div_1"> {{ totalSum }}</label>
</div>
<div id='parent_div_4' style="padding-right: 26%;">
  <label class="child_div_2"> {{ totalCredit }}</label>
</div>

<br>
<br>
<br>




<!-- <div style="text-align:center;background-color:grey; height:30px ;">
  
  <label for="account" style="padding-right: 40%;width: 10%;border-right: 2px solid green;">Total Sum:</label>
  <label for="account" style="padding-right: 40%;">Total Sum:</label>
</div> -->

</div>


<!-- Total Sum , Total Credit-->
<!-- Account Type , Account Number, Branch Address, Ifsc Code, Available Balance   -->




